.avatar {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--color-border);
  overflow: hidden;
  background-color: var(--color-surface);
  border-radius: var(--radius-full);

  &__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  &_empty {
    background: var(--color-surface) url("@/shared/assets/no-user-image.svg") center / 50% no-repeat;
  }
}
